<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <File name = "IncRef" fileName="logs/IncorrectStations.log">
            <PatternLayout pattern="%d{DATE} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name = "SeaRef" fileName="logs/SearchStations.log">
            <PatternLayout pattern="%d{DATE} %M [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name = "ExRef" fileName="logs/Exceptions.log">
            <PatternLayout pattern="%d{DATE} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>

    <loggers>
        <Logger name = "IncStations" level = "warning">
            <AppenderRef ref = "IncRef"/>
        </Logger>
        <Logger name = "SearchStations" level = "info">
            <AppenderRef ref = "SeaRef"/>
        </Logger>
        <Logger name = "Exceptions" level = "error">
            <AppenderRef ref = "ExRef"/>
        </Logger>
        <Root level = "all">
        </Root>
    </loggers>
</configuration>
